block breadcrumbs
	ol.breadcrumb
		li
			a(href="/#{data.language}") Home

		if data.country
			li
				a(href="/#{data.language}/#{data.country.url}")= data.country.label

		if (data.locality)
			li
				a(href="/#{data.language}/#{data.locality.url}")= data.locality.label

		if (data.site)
			li
				a(href="/#{data.language}/#{data.site.url}")= data.site.label

if data.meta.fallback
	div.alert.alert-danger= data.i18n.noTranslation

block title
	if data.meta.title
		h1
			a(href="/#{data.language}/#{data.url}")= data.meta.title
			
if data.content
	div!= data.content

if data.children.length > 0
	block subtitle
	
	div.list-group
		for child in data.children
			a.list-group-item(href="/#{data.language}/#{child.url}")= child.meta.title

unless data.children.length > 0
	div.alert.alert-warning= data.i18n.noInformation