if data.meta.fallback
	div.alert.alert-danger= data.i18n.noTranslation

if data.meta.title
	h1
		a(href="/#{data.language}/#{data.url}")= data.meta.title

if data.content
	div#contact!= data.content

if data.sendSuccess
	div.alert.alert-success= data.i18n.emailSent

if data.sendFail
	div.alert.alert-error= data.i18n.emailFailed

unless data.sendSuccess
	form(method="post", action="/#{data.language}/contact", role="form", id="contactEmail")

		div(class="form-group")
			label(for="address")= data.i18n.emailAddress
			input(type="email", name="address", id="address", class="form-control")

		div.alert.alert-danger#emailError(class=data.validation.hasEmailIssue ? "" : "no-show")
			span#emailMissing(class=data.validation.addressMissing ? "" : "no-show")= data.i18n.emailValidationAddressMissing
			span#emailFormatWrong(class=data.validation.addressFormatWrong ? "" : "no-show")= data.i18n.emailValidationAddressFormat

		div(class="form-group")
			label(for="message")= data.i18n.emailMessage
			textarea(name="message", id="message", class="form-control")

		div.alert.alert-danger#messageError(class=data.validation.hasMessageIssue ? "" : "no-show")
			span#messageMissing(class=data.validation.messageMissing ? "" : "no-show")= data.i18n.emailValidationMessageMissing
			span#messageTooShort(class=data.validation.messageTooShort ? "" : "no-show")= data.i18n.emailValidationMessageTooShort
			span#messageTooLong(class=data.validation.messageTooLong ? "" : "no-show")= data.i18n.emailValidationMessageTooLong

		input#send(type="submit",  class="btn btn-default", value=data.i18n.emailSend)