block content
	ol.breadcrumb
		li
			a(href="/#{data.language}") Home
		li
			a(href="/#{data.language}/#{data.country.url}")= data.country.label
		li
			a(href="/#{data.language}/#{data.locality.url}")= data.locality.label
		li
			a(href="/#{data.language}/#{data.site.url}")= data.site.label

	if data.meta.fallback
		div.alert.alert-danger= data.i18n.noTranslation

	if data.meta.title
		h1
			a(href="/#{data.language}/#{data.url}")= data.meta.title

	if data.content
		div#exhibit!= data.content

	if data.type	
		h2= data.type.meta.title

		div#type!= data.type.content