block content
	ol.breadcrumb
		li
			a(href="/") Home
		li
			a(href="/" + data.country.url)= data.country.label
		li
			a(href="/" + data.locality.url)= data.locality.label
		li
			a(href="/" + data.site.url)= data.site.label

	if data.meta.title
		h1
			a(href="/" + data.url)= data.meta.title

	if data.content
		div#exhibit!= data.content

	if data.type	
		h2= data.type.meta.title

		div#type!= data.type.content