doctype html
html(lang="en")
	head				
		title= data.meta.title
		
		meta(name="description", content="#{data.meta.description}")
		meta(name="keywords", content="#{data.meta.keywords}")

		meta(property="og:type", content="website")
		meta(property="og:title", content="#{data.meta.title}")
		meta(property="og:description", content="#{data.meta.description}")
		meta(property="og:site_name", content="TBD")
		meta(property="og:url", content="#{data.meta.url}")
		meta(property="og:image", content="")

		link(rel="stylesheet", href="#{ globals.baseUrl }/assets/styles/bootstrap.min.css")
		link(rel="shortcut icon", type="image/x-icon", href="#{ globals.baseUrl }/assets/favicon.ico")
		link(rel="canonical", href="#{data.meta.url}")
	body
		div.navbar.navbar-inverse(role="navigation")
			div.container
				div.navbar-header          
					//-
						button.navbar-toggle(type="button",data-toggle="collapse",data-target=".navbar-collapse")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar

					a.navbar-brand(href="/") TBD

				//-
					div.navbar-collapse.collapse
						ul.nav.navbar-nav
							li					
								a(href="/about") About
							li
								a(href="/contact") Contact

		div.container
			section#content!= data.content				

			div#loader(style="display:none")
				| Loading ...

			footer
				| Page footer

		script(src="#{ globals.baseUrl }/assets/scripts/require.js", data-main="/assets/scripts/global")