doctype html
html(lang=data.language)
	head				
		title= data.meta.title
		meta(charset="utf-8")

		meta(name="description", content="#{data.meta.description}")
		meta(name="keywords", content="#{data.meta.keywords}")

		meta(property="og:type", content="website")
		meta(property="og:title", content="#{data.meta.title}")
		meta(property="og:description", content="#{data.meta.description}")
		meta(property="og:site_name", content="TBD")
		meta(property="og:url", content="#{data.meta.url}/")
		meta(property="og:image", content="")

		link(rel="stylesheet", href="#{ globals.baseUrl }/assets/styles/bootstrap.min.css")
		link(rel="shortcut icon", type="image/x-icon", href="#{ globals.baseUrl }/assets/favicon.ico")
		link(rel="canonical", href="#{data.meta.url}")

		if (data.meta.alternatives)
			for alt in data.meta.alternatives
				link(rel="alternate", hreflang="alt.lang" href="alt.url")
	body
		div.navbar.navbar-inverse(role="navigation")

			div.container
				unless data.meta.nolinks
					div.navbar-header
						button.navbar-toggle(type="button",data-toggle="collapse",data-target=".navbar-collapse")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar							

						a.navbar-brand(href="/#{data.language}") TBD

					div.navbar-collapse.collapse
						ul.nav.navbar-nav.navbar-left
							li					
								a.menuitem(href="/#{data.language}/about")= data.i18n.about
							li
								a.menuitem(href="/#{data.language}/contact")= data.i18n.contact
							
						ul.nav.navbar-nav.navbar-right
							li(role="presentation")
								a.language(role="menuitem", tabindex="-1", href="#{ globals.baseUrl }/en/#{data.path}", data-base="#{ globals.baseUrl }/en/") English
							li(role="presentation")
								a.language(role="menuitem", tabindex="-1", href="#{ globals.baseUrl }/de/#{data.path}", data-base="#{ globals.baseUrl }/de/") Deutsch
							li(role="presentation")
								a.language(role="menuitem", tabindex="-1", href="#{ globals.baseUrl }/fr/#{data.path}", data-base="#{ globals.baseUrl }/fr/") Français
							li(role="presentation")
								a.language(role="menuitem", tabindex="-1", href="#{ globals.baseUrl }/it/#{data.path}", data-base="#{ globals.baseUrl }/it/") Italiano
							
				if data.meta.nolinks
					div.navbar-header
						span.navbar-brand TBD

		div.container
			section#content!= data.content				

			div#loader(style="display:none")= data.i18n.loading

			footer
				| Page footer

		script(src="#{ globals.baseUrl }/assets/scripts/require.js", data-main="/assets/scripts/global")